.fpassword-container button{
    display: flex;
    justify-content: center;
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.fpassword-container input {
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 40px;
    border-radius: 5px;
    margin: 0;
    box-sizing: border-box;
    color: black;
}

.fpassword-container div{
    margin-top: 4px;
}

.fpassword-container .container-fluid{
    padding-top: 45%;
}